In [1]:
import pandas as pd
#df1 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/9521e869-b643-fac6-8679-e7340cf5ed7e')

df1_head = df1[0:100]
df1_tail = df1[100:len(df1)]

from sqlalchemy import create_engine
engine = create_engine('postgresql://'
                      + 'sagemaker' + ':' 
                      + '986Sz3V*0t90t'  + '@'
                      + "creditninja.periscopewarehouse.com" + ':'
                      + '5439' + '/' 
                      + 'site_14596', echo=False)

#df1_head.to_sql(name='service_objects_features', schema='analytics', con=engine, if_exists = 'replace', index=False)

In [55]:
#df1 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/9521e869-b643-fac6-8679-e7340cf5ed7e')
df1 = df1.where((pd.notnull(df1)), None)

In [56]:
print(df1.shape)
df1.head()

(10000, 78)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_area_match,m_h_area_match,...,h_is_portable_voip,h_is_possible_portable_voip,h_is_contact_address_po_box,h_contact_address_match_lev8,h_cont_addr_lev_dist,h_cont_addr_len,h_cont_addr_lev_dist_ratio,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,16,20,SPRINT,OTHER,SPRINT,None,10.5607,None,1,1,...,0,0,None,None,None,None,None,None,None,None
1,12,37,VERIZON,OTHER,VERIZON,None,1595.96,None,0,1,...,0,0,None,None,None,None,None,None,None,-4055
2,10,15,AERIAL,OTHER,AERIAL,134.937,None,134.937,0,1,...,0,0,None,None,None,None,None,MED,RESIDENTIAL,-404
3,17,26,SPRINT,OTHER,SPRINT,0,0,0,1,1,...,0,0,0,1,2,24,0.0769231,HIGH,RESIDENTIAL,-678
4,14,18,SPRINT,OTHER,AERIAL,0,0,0,1,1,...,0,0,0,1,0,18,0,LOW,RESIDENTIAL,None

In [57]:
tuples = [tuple(x) for x in df1.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df1:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [58]:
#df2=pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/740bf883-455e-5375-770c-4968bfed7dfc')
#df2 = df2.where((pd.notnull(df2)), None)
print(df2.shape)
df2.head()

(10000, 78)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_area_match,m_h_area_match,...,h_is_portable_voip,h_is_possible_portable_voip,h_is_contact_address_po_box,h_contact_address_match_lev8,h_cont_addr_lev_dist,h_cont_addr_len,h_cont_addr_lev_dist_ratio,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,14,12,T-MOBILE,OTHER,T-MOBILE,None,2.15157,None,1,1,...,0,0,None,None,None,None,None,MED,RESIDENTIAL,-1203
1,14,15,CINGULAR,OTHER,OTHER,2284.87,5.98754,None,0,None,...,0,0,None,None,None,None,None,None,None,None
2,16,20,METRO_PCS,OTHER,OTHER,0,14.2499,None,1,None,...,0,0,None,None,None,None,None,None,None,None
3,11,26,METRO_PCS,OTHER,METRO_PCS,None,331.932,None,0,1,...,0,0,None,None,None,None,None,None,None,-367
4,11,20,AT&T,CINGULAR,AT&T,0,23.7807,0,0,1,...,0,0,0,1,4,16,0.2,HIGH,RESIDENTIAL,-3387

In [59]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://'
                      + 'sagemaker' + ':' 
                      + '986Sz3V*0t90t'  + '@'
                      + "creditninja.periscopewarehouse.com" + ':'
                      + '5439' + '/' 
                      + 'site_14596', echo=False)

tuples = [tuple(x) for x in df2.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df2:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [50]:
df3 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/7114ec1f-2673-a840-1722-9e9f5dc8cbd5')
df3 = df3.where((pd.notnull(df3)), None)
print(df3.shape)
df3.head()

(10000, 78)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_area_match,m_h_area_match,...,h_is_portable_voip,h_is_possible_portable_voip,h_is_contact_address_po_box,h_contact_address_match_lev8,h_cont_addr_lev_dist,h_cont_addr_len,h_cont_addr_lev_dist_ratio,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,12,20,SPRINT,OTHER,OTHER,12.6579,0,None,1,None,...,0,0,None,None,None,None,None,None,None,None
1,13,13,VERIZON,VERIZON,OTHER,0,0,None,1,None,...,0,0,None,None,None,None,None,None,None,None
2,10,13,POWERTEL,OTHER,OTHER,1813.16,27.4536,None,0,None,...,0,0,None,None,None,None,None,None,None,None
3,15,15,CINGULAR,CINGULAR,OTHER,0,13.8265,None,1,None,...,0,0,None,None,None,None,None,None,None,None
4,15,15,VERIZON,OTHER,OTHER,None,4.8737,None,1,None,...,0,0,None,None,None,None,None,None,None,None

In [60]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://'
                      + 'sagemaker' + ':' 
                      + '986Sz3V*0t90t'  + '@'
                      + "creditninja.periscopewarehouse.com" + ':'
                      + '5439' + '/' 
                      + 'site_14596', echo=False)

tuples = [tuple(x) for x in df3.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df3:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [51]:
import pandas as pd
df4 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/e233b541-dee0-ed27-46a8-9710acaa8112')
df4 = df4.where((pd.notnull(df4)), None)
print(df4.shape)
df4.head()

(10000, 78)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_area_match,m_h_area_match,...,h_is_portable_voip,h_is_possible_portable_voip,h_is_contact_address_po_box,h_contact_address_match_lev8,h_cont_addr_lev_dist,h_cont_addr_len,h_cont_addr_lev_dist_ratio,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,15,13,T-MOBILE,OTHER,OTHER,9.6955,11.0628,None,0,None,...,0,0,None,None,None,None,None,None,None,None
1,10,17,CINGULAR,OTHER,OTHER,9.37114,None,None,0,None,...,0,0,None,None,None,None,None,None,None,None
2,15,15,OTHER,OTHER,OTHER,8.2959,None,None,0,None,...,0,0,None,None,None,None,None,None,None,None
3,13,17,T-MOBILE,T-MOBILE,OTHER,None,None,None,1,None,...,0,0,None,None,None,None,None,None,None,None
4,11,19,T-MOBILE,OTHER,OTHER,7.42696,1731.45,None,0,None,...,0,0,None,None,None,None,None,None,None,None

In [61]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://'
                      + 'sagemaker' + ':' 
                      + '986Sz3V*0t90t'  + '@'
                      + "creditninja.periscopewarehouse.com" + ':'
                      + '5439' + '/' 
                      + 'site_14596', echo=False)

tuples = [tuple(x) for x in df4.values]
connection = engine.raw_connection()
cur = connection.cursor()


args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()


insert_str = "insert into analytics.service_objects_features(" 
for var in df4:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str


cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [53]:
df5 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/952f02a7-83d7-c5cb-4a67-7a4546e14b99') 
df5 = df5.where((pd.notnull(df5)), None)
print(df5.shape)
df5.head()

(7033, 78)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_area_match,m_h_area_match,...,h_is_portable_voip,h_is_possible_portable_voip,h_is_contact_address_po_box,h_contact_address_match_lev8,h_cont_addr_lev_dist,h_cont_addr_len,h_cont_addr_lev_dist_ratio,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,12,21,VERIZON,OTHER,VERIZON,0,5.28159,0,0,1,...,0,0,0,1,3,18,0.142857,LOW,RESIDENTIAL,None
1,14,14,VERIZON,OTHER,VERIZON,None,0,None,1,1,...,0,0,None,None,None,None,None,None,None,None
2,13,12,VERIZON,OTHER,VERIZON,None,45.5203,None,1,1,...,0,0,None,None,None,None,None,None,None,None
3,11,21,CINGULAR,OTHER,CINGULAR,0,0,0,1,1,...,0,0,None,None,None,None,None,MED,RESIDENTIAL,None
4,10,9,SPRINT,OTHER,SPRINT,0,0,0,1,1,...,0,0,0,1,3,12,0.25,LOW,RESIDENTIAL,-3743

In [62]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://'
                      + 'sagemaker' + ':' 
                      + '986Sz3V*0t90t'  + '@'
                      + "creditninja.periscopewarehouse.com" + ':'
                      + '5439' + '/' 
                      + 'site_14596', echo=False)

tuples = [tuple(x) for x in df5.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df5:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')