In [ ]:
import pandas as pd
df1 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/9521e869-b643-fac6-8679-e7340cf5ed7e')

df1_head = df1[0:100]
df1_tail = df1[100:len(df1)]

from sqlalchemy import create_engine
engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)
df1_head.to_sql(name='service_objects_features', schema='analytics', con=engine, if_exists = 'replace', index=False)

In [17]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

df1 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/9521e869-b643-fac6-8679-e7340cf5ed7e')
df1 = df1.where((pd.notnull(df1)), None)
df1 = df1.add_prefix('so_')
df1.rename(index=str, columns={"so_work_phone": "work_phone",
                               "so_mobile_phone": "mobile_phone", 
                               "so_home_phone": "home_phone",
                               "so_current_loan_leadid" : "current_loan_leadid" }, inplace=True)
df1_head = df1[0:100]
df1_head.to_sql(name='service_objects_features', schema='analytics', con=engine, if_exists = 'replace', index=False)

In [4]:
print(df1.shape)
df1.head()

(10000, 96)

,len_of_name_in_leads,len_of_address_in_leads,m_provider_name,w_provider_name,h_provider_name,m_zip_haversine_distance,w_zip_haversine_distance,h_zip_haversine_distance,m_w_phone_match,m_h_phone_match,...,h_cont_addr_lev_dist_ratio,h_cont_name_lev_dist,h_cont_name_better_perm_lev_dist,h_cont_name_len,h_cont_name_lev_dist_ratio,h_cont_name_better_perm_lev_dist_ratio,h_last_name_match,h_contact_quality_score,h_contact_phone_type,h_days_of_porting_since_in_infinity
0,16,20,SPRINT,LEVEL3,SPRINT,None,10.5607,None,0,1,...,None,None,None,None,None,None,None,None,None,None
1,12,37,VERIZON,SERV_MNGM,VERIZON,None,1595.96,None,0,1,...,None,None,None,None,None,None,None,None,None,-4055
2,10,15,AERIAL,SERV_MNGM,AERIAL,134.937,None,134.937,0,1,...,None,4,4,6,0.4,0.4,1,MED,RESIDENTIAL,-404
3,17,26,SPRINT,CENTURY,SPRINT,0,0,0,0,1,...,0.0769231,6,6,11,0.352941,0.352941,1,HIGH,RESIDENTIAL,-678
4,14,18,SPRINT,BELL,AERIAL,0,0,0,0,0,...,0,10,10,13,0.714286,0.714286,0,LOW,RESIDENTIAL,None

In [21]:
engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)
connection = engine.raw_connection()
cur = connection.cursor()
cur.execute('rollback')
cur.execute('begin')
cur.execute('delete from analytics.service_objects_features')
cur.execute('commit')

In [22]:
import pandas as pd
#df1 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/9521e869-b643-fac6-8679-e7340cf5ed7e')
from sqlalchemy import create_engine

engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

tuples = [tuple(x) for x in df1.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df1:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [23]:
import pandas as pd
df2=pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/740bf883-455e-5375-770c-4968bfed7dfc')
df2 = df2.where((pd.notnull(df2)), None)
df2 = df2.add_prefix('so_')
df2.rename(index=str, columns={"so_work_phone": "work_phone",
                               "so_mobile_phone": "mobile_phone", 
                               "so_home_phone": "home_phone",
                               "so_current_loan_leadid" : "current_loan_leadid" }, inplace=True)
print(df2.shape)
df2.head()

(10000, 96)

,so_len_of_name_in_leads,so_len_of_address_in_leads,so_m_provider_name,so_w_provider_name,so_h_provider_name,so_m_zip_haversine_distance,so_w_zip_haversine_distance,so_h_zip_haversine_distance,so_m_w_phone_match,so_m_h_phone_match,...,so_h_cont_addr_lev_dist_ratio,so_h_cont_name_lev_dist,so_h_cont_name_better_perm_lev_dist,so_h_cont_name_len,so_h_cont_name_lev_dist_ratio,so_h_cont_name_better_perm_lev_dist_ratio,so_h_last_name_match,so_h_contact_quality_score,so_h_contact_phone_type,so_h_days_of_porting_since_in_infinity
0,14,12,T-MOBILE,OTHER,T-MOBILE,None,2.15157,None,0,1,...,None,12,12,15,0.8,0.8,0,MED,RESIDENTIAL,-1203
1,14,15,CINGULAR,OTHER,None,2284.87,5.98754,None,0,None,...,None,None,None,None,None,None,None,None,None,None
2,16,20,METRO_PCS,BELL,None,0,14.2499,None,0,None,...,None,None,None,None,None,None,None,None,None,None
3,11,26,METRO_PCS,SERV_MNGM,METRO_PCS,None,331.932,None,0,1,...,None,None,None,None,None,None,None,None,None,-367
4,11,20,AT&T,CINGULAR,AT&T,0,23.7807,0,0,1,...,0.2,0,0,11,0,0,1,HIGH,RESIDENTIAL,-3387

In [24]:
from sqlalchemy import create_engine

engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

tuples = [tuple(x) for x in df2.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df2:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [25]:
df3 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/7114ec1f-2673-a840-1722-9e9f5dc8cbd5')
df3 = df3.where((pd.notnull(df3)), None)
import pandas as pd
df3 = df3.add_prefix('so_')
df3.rename(index=str, columns={"so_work_phone": "work_phone",
                               "so_mobile_phone": "mobile_phone", 
                               "so_home_phone": "home_phone",
                               "so_current_loan_leadid" : "current_loan_leadid" }, inplace=True)
print(df3.shape)
df3.head()

(10000, 96)

,so_len_of_name_in_leads,so_len_of_address_in_leads,so_m_provider_name,so_w_provider_name,so_h_provider_name,so_m_zip_haversine_distance,so_w_zip_haversine_distance,so_h_zip_haversine_distance,so_m_w_phone_match,so_m_h_phone_match,...,so_h_cont_addr_lev_dist_ratio,so_h_cont_name_lev_dist,so_h_cont_name_better_perm_lev_dist,so_h_cont_name_len,so_h_cont_name_lev_dist_ratio,so_h_cont_name_better_perm_lev_dist_ratio,so_h_last_name_match,so_h_contact_quality_score,so_h_contact_phone_type,so_h_days_of_porting_since_in_infinity
0,12,20,SPRINT,OTHER,None,12.6579,0,None,0,None,...,None,None,None,None,None,None,None,None,None,None
1,13,13,VERIZON,VERIZON,None,0,0,None,1,None,...,None,None,None,None,None,None,None,None,None,None
2,10,13,POWERTEL,BELL,None,1813.16,27.4536,None,0,None,...,None,None,None,None,None,None,None,None,None,None
3,15,15,CINGULAR,CINGULAR,None,0,13.8265,None,0,None,...,None,None,None,None,None,None,None,None,None,None
4,15,15,VERIZON,OTHER,None,None,4.8737,None,0,None,...,None,None,None,None,None,None,None,None,None,None

In [26]:
from sqlalchemy import create_engine

engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

tuples = [tuple(x) for x in df3.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df3:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [27]:
import pandas as pd
df4 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/e233b541-dee0-ed27-46a8-9710acaa8112')
df4 = df4.where((pd.notnull(df4)), None)
df4 = df4.add_prefix('so_')
df4.rename(index=str, columns={"so_work_phone": "work_phone",
                               "so_mobile_phone": "mobile_phone", 
                               "so_home_phone": "home_phone",
                               "so_current_loan_leadid" : "current_loan_leadid" }, inplace=True)
print(df4.shape)
df4.head()

(10000, 96)

,so_len_of_name_in_leads,so_len_of_address_in_leads,so_m_provider_name,so_w_provider_name,so_h_provider_name,so_m_zip_haversine_distance,so_w_zip_haversine_distance,so_h_zip_haversine_distance,so_m_w_phone_match,so_m_h_phone_match,...,so_h_cont_addr_lev_dist_ratio,so_h_cont_name_lev_dist,so_h_cont_name_better_perm_lev_dist,so_h_cont_name_len,so_h_cont_name_lev_dist_ratio,so_h_cont_name_better_perm_lev_dist_ratio,so_h_last_name_match,so_h_contact_quality_score,so_h_contact_phone_type,so_h_days_of_porting_since_in_infinity
0,15,13,T-MOBILE,LEVEL3,None,9.6955,11.0628,None,0,None,...,None,None,None,None,None,None,None,None,None,None
1,10,17,CINGULAR,SERV_MNGM,None,9.37114,None,None,0,None,...,None,None,None,None,None,None,None,None,None,None
2,15,15,OTHER,None,None,8.2959,None,None,0,None,...,None,None,None,None,None,None,None,None,None,None
3,13,17,T-MOBILE,T-MOBILE,None,None,None,None,1,None,...,None,None,None,None,None,None,None,None,None,None
4,11,19,T-MOBILE,EPORT,None,7.42696,1731.45,None,0,None,...,None,None,None,None,None,None,None,None,None,None

In [28]:
from sqlalchemy import create_engine

engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

tuples = [tuple(x) for x in df4.values]
connection = engine.raw_connection()
cur = connection.cursor()


args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()


insert_str = "insert into analytics.service_objects_features(" 
for var in df4:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str


cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')

In [29]:
df5 = pd.read_csv('https://app.periscopedata.com/api/creditninja/chart/csv/952f02a7-83d7-c5cb-4a67-7a4546e14b99') 
df5 = df5.where((pd.notnull(df5)), None)
import pandas as pd
df5 = df5.add_prefix('so_')
df5.rename(index=str, columns={"so_work_phone": "work_phone",
                               "so_mobile_phone": "mobile_phone", 
                               "so_home_phone": "home_phone",
                               "so_current_loan_leadid" : "current_loan_leadid" }, inplace=True)
print(df5.shape)
df5.head()

(7033, 96)

,so_len_of_name_in_leads,so_len_of_address_in_leads,so_m_provider_name,so_w_provider_name,so_h_provider_name,so_m_zip_haversine_distance,so_w_zip_haversine_distance,so_h_zip_haversine_distance,so_m_w_phone_match,so_m_h_phone_match,...,so_h_cont_addr_lev_dist_ratio,so_h_cont_name_lev_dist,so_h_cont_name_better_perm_lev_dist,so_h_cont_name_len,so_h_cont_name_lev_dist_ratio,so_h_cont_name_better_perm_lev_dist_ratio,so_h_last_name_match,so_h_contact_quality_score,so_h_contact_phone_type,so_h_days_of_porting_since_in_infinity
0,12,21,VERIZON,BELL,VERIZON,0,5.28159,0,0,1,...,0.142857,0,0,12,0,0,1,LOW,RESIDENTIAL,None
1,14,14,VERIZON,LEVEL3,VERIZON,None,0,None,0,1,...,None,None,None,None,None,None,None,None,None,None
2,13,12,VERIZON,QWEST,VERIZON,None,45.5203,None,0,1,...,None,None,None,None,None,None,None,None,None,None
3,11,21,CINGULAR,BELL,CINGULAR,0,0,0,0,1,...,None,10,10,14,0.714286,0.714286,0,MED,RESIDENTIAL,None
4,10,9,SPRINT,CENTURY,SPRINT,0,0,0,0,1,...,0.25,7,7,15,0.466667,0.466667,1,LOW,RESIDENTIAL,-3743

In [30]:
from sqlalchemy import create_engine

engine = create_engine(!!!!!!! encript credentials with creds file !!!!!!!!!!!!!!!!!!, echo=False)

tuples = [tuple(x) for x in df5.values]
connection = engine.raw_connection()
cur = connection.cursor()

args_str = b",".join(cur.mogrify("%s", (x, )) for x in tuples)
args_str_str=args_str.decode()

insert_str = "insert into analytics.service_objects_features(" 
for var in df5:
    insert_str += var
    #insert_str += ('\"' + var + '\"') 
    insert_str += ','
insert_str = insert_str[:-1]
insert_str += ') values '
insert_str += args_str_str

cur.execute('rollback')
cur.execute('begin')
#cur.execute("alter table analytics.zip_code_mapping alter column \"WorldRegion\" type text;")
cur.execute(insert_str)
cur.execute('commit')